# Basic
numpy
ipython
jupyter
pandas
scipy
matplotlib
tqdm
pytest

# Deep learning
tensorflow-gpu
keras
h5py
pydot
keras-rl
baselines
tensorforce

# OpenAI Gym requirements
PyOpenGL
piglet
pyglet
gym[all]

# Other
JSAnimation

# Gym-sokoban
gym-sokoban
