# Basic
numpy
ipython
jupyter
pandas
scipy
matplotlib
tqdm
pytest

# Deep learning
tensorflow-gpu==2.1.0
keras
h5py
pydot
keras-rl
baselines
tensorforce

# OpenAI Gym requirements
PyOpenGL
piglet
pyglet
gym
#gym[all]

# Other
JSAnimation

# Gym-sokoban
#gym-sokoban  # Change to install via git clone
